table {
    width: 100%;
    border-collapse: collapse;
    
}
td {
    border: 1px solid black;
    padding: 8px;
    text-align:center;
    background-color: aquamarine;
    
}
th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    background-color:rgb(0, 201, 134);
    font-size: large;
}
.head{
    text-align: center;
    width: 100%;
    background-color: rgb(17, 140, 101);
    border-radius: 5px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
   
}
.cat{
    font-size:large;
}
#taskSelect{
    padding: 4px;
    font-size: medium;
    background-color: aquamarine;
    border-radius: 5px;
    margin-bottom: 10px;
}
#tabledata button{
    padding:5px;
    width:50px;
    margin-right:10px;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.timer{
    width:30%;
    background-color:aquamarine;
    border: 1px solid;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    padding:5%;
    height: 150px;
}
@media only screen and (max-width: 600px) {
    th,
    td,
    .cat,
    #taskSelect,
    #tabledata button {
        font-size: small;
    }

}
#display{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    font-size:xx-large;
    border-radius: 5px ;
}
.timer button{
    padding: 5px;
    width: 50px;
    border-radius: 5px;

}
.btnb{
   margin-top: 20px;
}
.task{
    width:45%;
    background-color: aquamarine;
    border: 1px solid;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    padding:5%;
    height: auto;  
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .timer,
    .task {
        width: 90%;
        height: auto;
    }
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dddddd;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px ;
}

@media screen and (max-width: 600px) {
    textarea {
        height: 100px;
    }
}
.lightred {
    background-color:red;
  }
